.header__link {
color: #2f80ed;
text-decoration: none;
transition: opacity .1s ease-in-out;
-webkit-transition: opacity .1s ease-in-out;
-moz-transition: opacity .1s ease-in-out;
-ms-transition: opacity .1s ease-in-out;
-o-transition: opacity .1s ease-in-out;
}

.header__link:link {
color: #2f80ed;
}

.header__link:visited {
color: #8b00ff;
}

.header__link:hover {
opacity: 80%;
}

.header__link:active {
color: #f00;
}
