.khan__buy-link {
line-height: 42px;
font-size: 30px;
font-weight: normal;
color: #2f80ed;
text-decoration: none;
}

.khan__buy-link:link {
color: #2f80ed;
}

.khan__buy-link:visited {
color: #8b00ff;
}

.khan__buy-link:hover {
opacity: 80%;
transition: opacity .1s ease-in-out;
-webkit-transition: opacity .1s ease-in-out;
-moz-transition: opacity .1s ease-in-out;
-ms-transition: opacity .1s ease-in-out;
-o-transition: opacity .1s ease-in-out;
}

.khan__buy-link:active {
color: #f00;
}
